@model Room

@{
    Layout = null;
}
<h4 class="mb-3">Rooms</h4>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-controller="Room" asp-action="Save" method="post">
    <div class="row mb-3">
        <input type="hidden" asp-for="RoomId" />
        <div class="col-md-8 mb-3">
            <label for="RoomType">Room Type</label>
            <input type="text" class="form-control text-left" asp-for="RoomType" placeholder="Room Type" value="@Model.RoomType">
        </div>
        <div class="col-md-8 mb-3">
            <label for="RoomDescription">Room Description</label>
            <textarea type="text" rows="5" class="form-control text-left" asp-for="RoomDescription" placeholder="Description" value="@Model.RoomDescription"></textarea>
        </div>
        <div class="col-md-8 mb-3">
            <label for="NumberOfBeds">Room Capacity</label>
            <input type="text" class="form-control text-left" asp-for="NumberOfBeds" placeholder="Room Capacity" value="@Model.NumberOfBeds">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col mr-0">
            <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Save Room</button>
        </div>
</form>
    <div class="col ml-0">
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="RoomId" />
            <button asp-controller="Room" asp-action="Delete" class="btn btn-danger" type="submit"><i class="fa fa-trash"></i> Delete Room</button>
        </form>
    </div>
</div>