@using OpenBed.Models.ViewModels
@model RoomListViewModel

@foreach (RoomViewModel room in Model.Rooms)
{
    @Html.Partial("_RoomEditPartial", room)
}

<a asp-controller="Room" asp-action="AddRoom" class="btn btn-primary btn-lg btn-block"><i class="fa fa-plus"></i> Add Room</a>
