@model IShelterRepository

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (Model != null)
    {
        <p>There are @Model.GetShelters().Count() shelters in the database.</p>
    }
    else
    {
        <p>There are no shelters in the database.</p>
    }
</div>
