@using OpenBed.Models.ViewModels
@model ShelterListViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container">
    <h1 class="display-4">Welcome</h1>
	<div class="row">
        <div class="col">
            @if (User.Identity.IsAuthenticated) {      
                @if (Model != null) {
		            //Display Shelter Information
                }
		        else {
                    <p><a class="nav-link text-dark" asp-controller="Account" asp-action="Index">Add your shelter information today!</a></p>
                }
            }
		    else {
                // Onboard shit 
            }
        </div>
	    <div class="col">
		    @if (Model != null)
            {
                <p>There are @Model.Count() shelters in the database.</p>
            }
		    else {
                <p>There are no shelters in the database.</p>
            }
        </div>
	</div>
</div>
