@model IShelterRepository

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container">
    <h1 class="display-4">Welcome</h1>
	<div class="row">
        @if (User.Identity.IsAuthenticated) {
	        <div class="col">
                @if (Model != null) {
		            @if (Model.ContainsID(ViewBag.UserID)) {
                        // Replace this with shelter information
			            <p class="text-center">@Model.GetShelter(ViewBag.UserID).Name</p>
                    }
		            else {
			            <p><a asp-controller="Account">Add your shelter information today!</a></p>
                    }
                }
                else
                {
                    <p>Add your shelter information today!</p>
                }
            </div>
        }
	    <div class="col">
		    @if (Model != null)
            {
                <p>There are @Model.GetShelters().Count() shelters in the database.</p>
            }
		    else {
                    <p>There are no shelters in the database.</p>
            }
        </div>
	</div>
</div>
